{% load static %}

<!-- Evento -->
<section class="py-5" id="event">
    <div class="container text-center text-white">
        <h2 class="fw-bold display-6" data-aos="fade-up" data-aos-duration="1000">Detalhes do Evento</h2>

        <div class="divider" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>

        <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
            {% comment %} Data {% endcomment %}
            <div class="col d-flex" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="event-card p-4 w-100 border rounded" style="border-color: var(--dourado) !important;">
                    <i class="bi bi-calendar3 fs-1" style="color: var(--dourado);"></i>
                    <h5 class="mt-3">Data</h5>
                    <p>27 de Novembro de 2025</p>
                    <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Missa+da+formatura+de+Giovanna+Urquisa&details=Celebra%C3%A7%C3%A3o+especial+da+formatura+com+familiares+e+amigos.&location=Par%C3%B3quia+Sant%27ana+e+S%C3%A3o+Joaquim&dates=20251127T203000Z/20251127T213000Z" target="_blank" rel="noopener noreferrer" class="calendar-btn btn btn-dourado mt-3">
                        Adicionar ao calendário
                    </a>
                </div>
            </div>
            {% comment %} Local {% endcomment %}
            <div class="col d-flex" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="event-card p-4 w-100 border rounded" style="border-color: var(--dourado) !important;">
                    <i class="bi bi-geo-alt fs-1" style="color: var(--dourado);"></i>
                    <h5 class="mt-3">Local</h5>
                    <p>Paróquia Sant'ana e São Joaquim</p>
                    <a href="https://www.google.com/maps/search/?api=1&query=Par%C3%B3quia+Sant%27ana+e+S%C3%A3o+Joaquim" target="_blank" rel="noopener noreferrer"  class="calendar-btn btn btn-dourado mt-3">
                        Abrir no Google Maps
                    </a>
                </div>
            </div>
            {% comment %} Horário {% endcomment %}
            <div class="col d-flex" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <div class="event-card p-4 w-100 border rounded" style="border-color: var(--dourado) !important;">
                    <i class="bi bi-clock fs-1" style="color: var(--dourado);"></i>
                    <h5 class="mt-3">Horário</h5>
                    <p>17h30</p>
                    <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Missa+da+formatura+de+Giovanna+Urquisa&details=Celebra%C3%A7%C3%A3o+especial+da+formatura+com+familiares+e+amigos.&location=Par%C3%B3quia+Sant%27ana+e+S%C3%A3o+Joaquim&dates=20251127T203000Z/20251127T213000Z" target="_blank" rel="noopener noreferrer" class="calendar-btn btn btn-dourado mt-3">
                        Adicionar ao calendário
                    </a>
                </div>
            </div>
        </div>

        {% comment %} Google Maps {% endcomment %}
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.109345029517!2d-34.85718838468643!3d-7.111759594910103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace51f3bb9d1d%3A0x3f6e8b0206e1aef4!2sR.%20Ad%C3%A1lia%20Suassuna%20Barreto%20-%20Pedro%20Gondim%2C%20Jo%C3%A3o%20Pessoa%20-%20PB%2C%2058031-112!5e0!3m2!1spt-BR!2sbr!4v1694762500000!5m2!1spt-BR!2sbr" 
            class="w-100 rounded mt-5 border" 
            height="450" 
            style="border-color: var(--dourado) !important;" 
            allowfullscreen=""
            referrerpolicy="no-referrer-when-downgrade"
            loading="lazy"
            data-aos="fade-up" data-aos-duration="1000">
        </iframe>
    </div>
</section>
