{% load static %}

<div class="py-5 bg-vinho-escuro text-white">
    <div class="container">
        <img src="{% static 'img/gio_site_logo_completa.png' %}" class="img-fluid mx-auto d-block mb-4" alt="Giovanna Urquisa" style="max-width: 300px; filter: brightness(0) invert(1);">

        {% comment %} Socials {% endcomment %}
        <div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
            <a href="https://www.instagram.com/giovannaurquisa/" target="_blank" class="social-link">
                <i class="bi bi-instagram fs-4"></i>
            </a>
            <a href="https://br.linkedin.com/in/giovanna-urquisa-833450276" target="_blank" class="social-link">
                <i class="bi bi-linkedin fs-4"></i>
            </a>
            <a href="https://wa.me/558388676678?text=Oi%2C%20Gio!%20Adorei%20o%20site%20da%20formatura!!" target="_blank" class="social-link">
                <i class="bi bi-whatsapp fs-4"></i>
            </a>
        </div>
        
        <p class="text-center">&copy; 2025 Todos os direitos reservados</p>
        
        <p class="text-center fs-6 fw-light">Desenvolvido com <i class="bi bi-heart-fill text-danger"></i> por <a class="dev-link" href="https://github.com/matheusfabiao" target="_blank">Matheus Fabião</a></p>
    </div>
</div>
