{% load static %}


<section class="py-5" style="background-color: black">
    <div class="container text-white overflow-hidden">
        <div class="row row-cols-1 row-cols-md-2 align-items-center">
            {% comment %} Form {% endcomment %}
            <div class="col py-5" id="form">
                <h3 class="h2 mb-3 fw-bold text-md-start text-center" data-aos="fade-right" data-aos-duration="1000">Ainda não confirmou sua&nbsp;presença?</h3>

                <p class="mb-5 text-md-start text-center" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">Para confirmar sua presença ou de seu acompanhante, preencha o formulário abaixo.</p>

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <strong>{{ field.label }}:</strong> {{ error }}<br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="post" enctype="multipart/form-data" class="mx-auto" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-dourado mt-3">Confirmar presença</button>

                </form>
            </div>
            {% comment %} Image {% endcomment %}
            <div class="col">
                <img src="{% static 'img/gio_cadeira_diploma.jpg' %}" alt="Giovanna Urquisa" class="gio-form-img img-fluid mx-auto" data-aos="fade-left" data-aos-duration="1000">
            </div>
        </div>
    </div>
</section>
