{% load static %}

<section class="py-5">
    <div class="container">
        <h2 class="display-6 mb-3 fw-bold text-center text-vinho-escuro" data-aos="fade-up" data-aos-duration="1000">Lista de convidados confirmados</h2>

        <div class="divider mb-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>

        <div class="row row-cols-1 row-cols-md-3 g-3">
            {% for guest in guests %}
                <div class="col guest-grid" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="card h-100">
                        {% if guest.picture %}
                            <img src="{{ guest.picture.url }}" alt="Foto de {{ guest.name }}" class="card-img-top" style="height: 400px; object-fit: cover; object-position: top center;">
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="card-img-top" alt="Giovanna Urquisa" style="height: 400px; object-fit: cover; object-position: top center;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="fw-bold card-title h4">{{ guest.name }}</h5>
                            <p class="card-text">{% if guest.message %}"{{ guest.message | truncatechars:100 }}"{% else %}Confirmado(a).{% endif %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</section>
