{% load static %}

<nav class="navbar navbar-expand-md navbar-dark" style="background-color: var(--vinho-escuro);">

    <div class="container">

        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'img/gio_site_logo_icon.png' %}" alt="Logo Giovanna Urquisa" width="30" style="filter: brightness(0) invert(1);">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-principal">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse text-center justify-content-end" id="nav-principal">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">Início</a>
                </li>
                <li class="nav-item">
                    <a href="{% if request.path == '/' %}#about{% else %}{% url 'home' %}#about{% endif %}" class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                    <a href="{% if request.path == '/' %}#event{% else %}{% url 'home' %}#event{% endif %}" class="nav-link">Evento</a>
                </li>
                <li class="nav-item">
                    <a href="{% if request.path == '/' %}#form{% else %}{% url 'home' %}#form{% endif %}" class="nav-link">Presença</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a href="#galery" class="nav-link">Galeria</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a href="{% url 'guest_list' %}" class="nav-link {% if 'guest_list' in request.path %}active{% endif %}">Convidados</a>
                </li>
            </ul>
        </div>

    </div>

</nav>
