.hero-title {
    color: var(--vinho-escuro);
}

.hero-img-desktop,
.hero-img-mobile {
    -webkit-mask-image: linear-gradient(to bottom, 
        black 80%, 
        transparent 100%);
    mask-image: linear-gradient(to bottom, 
        black 80%, 
        transparent 100%);
}

.hero-img-mobile {
    max-height: 500px;
    object-fit: cover;
    object-position: top center;
}

.hero-img-desktop {
    max-height: 700px;
    object-fit: cover;
    object-position: top center;
}

.about-section {
    background: linear-gradient(
        125deg, 
        var(--branco) 48.5%, 
        var(--creme-claro) 51.5%
    );
}

.timeline {
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: var(--dourado);
}

.timeline-content {
    position: relative;
    background-color: var(--branco);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.timeline-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}

.timeline-date {
    background-color: var(--vinho-escuro);
    color: var(--branco);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 600;
}

.timeline-dot {
    /* centralizado */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--dourado);
    border: 4px solid var(--branco);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--vinho-escuro);
    z-index: 1;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 767px) {
    .timeline::before {
        display: none;
    }
    
    .timeline-dot {
        display: none;
    }
}

.event-card {
    transition: 0.3s ease;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.event-card .calendar-btn:hover {
    background-color: var(--creme-claro);
    color: var(--preto);
}

form p {
    margin-bottom: 15px;
}

form table {
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

@media (max-width: 767px) {
    form .btn {
        width: 100%;
    }
}

.guest-grid .card {
    transition: 0.3s ease;
}

.guest-grid .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
