@font-face {
    font-family: 'Alata';
    src: url('../fonts/Alata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocomatPro';
    src: url('../fonts/cocomat-pro/CocomatPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocomatPro';
    src: url('../fonts/cocomat-pro/CocomatPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alata', sans-serif;
}

main {
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fundo-pattern-branco-transparente.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.05; /* Ajuste a opacidade aqui */
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section {
    overflow: hidden;
}

/* Utility Classes */
/* Sombra de texto */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Sombra de caixa (filtro) */
.drop-shadow {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

/* Sombra de caixa (box-shadow) */
.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sombra de caixa inferior */
.box-shadow-bottom {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
}

/* Divisor */
.divider {
    width: 80px;
    height: 4px;
    background: var(--dourado);
    margin: 1rem auto;
}
