:root {
  --vinho-escuro: #6C1529;
  --creme-claro: #FFF7DC;
  --branco: #FFFFFF;
  --branco-suave: #fdfdfd;
  --preto: #000000;
  --preto-suave: #2f2f2f;
  --dourado: #E6C766;
}

.bg-vinho-escuro {
  background-color: var(--vinho-escuro);
}

.bg-creme-claro {
  background-color: var(--creme-claro);
}

.bg-branco {
  background-color: var(--branco);
}

.bg-branco-suave {
  background-color: var(--branco-suave);
}

.bg-preto {
  background-color: var(--preto);
}

.bg-preto-suave {
  background-color: var(--preto-suave);
}

.bg-dourado {
  background-color: var(--dourado);
}

.text-vinho-escuro {
  color: var(--vinho-escuro);
}

.text-creme-claro {
  color: var(--creme-claro);
}

.text-branco {
  color: var(--branco);
}

.text-preto {
  color: var(--preto);
}

.text-preto-suave {
  color: var(--preto-suave);
}

.text-dourado {
  color: var(--dourado);
}

.btn-vinho-escuro {
  background-color: var(--vinho-escuro);
  color: var(--branco);
}

.btn-vinho-escuro:hover {
  background-color: var(--dourado);
  color: var(--vinho-escuro);
}

.btn-vinho-escuro-outline {
  background-color: transparent;
  color: var(--vinho-escuro);
  border-color: var(--vinho-escuro);
}

.btn-vinho-escuro-outline:hover {
  background-color: var(--vinho-escuro);
  color: var(--branco);
}

.btn-creme-claro {
  background-color: var(--creme-claro);
  color: var(--vinho-escuro);
}

.btn-creme-claro:hover {
  background-color: var(--vinho-escuro);
  color: var(--creme-claro);
}

.btn-creme-claro-outline {
  background-color: var(--vinho-escuro);
  color: var(--creme-claro);
  border-color: var(--creme-claro);
}

.btn-creme-claro-outline:hover {
  background-color: var(--creme-claro);
  color: var(--vinho-escuro);
}

.btn-branco {
  background-color: var(--branco);
  color: var(--vinho-escuro);
}

.btn-branco:hover {
  background-color: var(--vinho-escuro);
  color: var(--branco);
}

.btn-branco-outline {
  background-color: var(--vinho-escuro);
  color: var(--branco);
  border-color: var(--branco);
}

.btn-branco-outline:hover {
  background-color: var(--branco);
  color: var(--vinho-escuro);
}

.btn-preto {
  background-color: var(--preto);
  color: var(--branco);
}

.btn-preto:hover {
  background-color: var(--branco);
  color: var(--preto);
}

.btn-preto-outline {
  background-color: var(--branco);
  color: var(--preto);
  border-color: var(--preto);
}

.btn-preto-outline:hover {
  background-color: var(--preto);
  color: var(--branco);
}

.btn-dourado {
  background-color: var(--dourado);
  color: var(--preto);
}

.btn-dourado:hover {
  background-color: var(--preto);
  color: var(--dourado);
}

.btn-dourado-outline {
  background-color: var(--preto);
  color: var(--dourado);
  border-color: var(--dourado);
}

.btn-dourado-outline:hover {
  background-color: var(--dourado);
  color: var(--preto);
}
