{% extends "base.html" %}

{% load static %}

{% block title %}Convidados{% endblock title %}

{% block content %}
    {% include 'graduation/components/guest_list_preview.html' %}
    {% comment %} Continuação da Seção de Guest List Preview {% endcomment %}
    <p class="text-center h2 fw-bold mt-3">Ainda não fez <span class="fw-bold text-dourado">sua inscrição?</span></p>

    <p class="text-center lead">Acesse o formulário da página principal:</p>

    <div class="d-flex flex-wrap justify-content-center gap-3 mb-5 container">
        <a href="{% url 'home' %}" class="btn btn-vinho-escuro">
            Faça sua inscrição
        </a>
    </div>
{% endblock content %}
